html{
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
  }

body{
    background-image: url("drop.png");
    height: 100%;
    font-family: 'Comic Sans MS';
    text-align: center;
}
 
 h1 {
  color: green;
 }

.Button{
    margin-top: 40px;
    margin-bottom: 40px;
}

.Home{
    margin-top: 40px;
    margin-bottom: 40px;
}

.Back{
    margin-top: 40px;
    margin-bottom: 40px;
}

.Description{
    margin-top: 40px;
    margin-bottom: 40px;
}


#Tutorial {
    text-decoration: none;
    font-size: 30px;
    border: black 2px solid;
    color: black;
    padding: 10px;
    border-radius: 30%
}

#Learn {
    text-decoration: none;
    font-size: 30px;
    border: black 2px solid;
    color: black;
    padding: 10px;
    border-radius: 30%
}

#Track {
    text-decoration: none;
    font-size: 30px;
    border: black 2px solid;
    color: black;
    padding: 10px;
    border-radius: 30%
}

#Back {
    text-decoration: none;
    font-size: 30px;
    border: black 2px solid;
    color: black;
    padding: 10px;
    border-radius: 30%
}

#Home {
    text-decoration: none;
    font-size: 30px;
    border: black 2px solid;
    color: black;
    padding: 10px;
    border-radius: 30%
}

#Tutorial:hover {
    color: white;
    border-color: white;
}

#Learn:hover {
    color: white;
    border-color: white;
}


#Track:hover {
    color: white;
    border-color: white;
}

#Back:hover {
    color: white;
    border-color: white;
}

#Home:hover {
    color: white;
    border-color: white;
}
